<style>
    img {
        width: 100%;
        height: auto;
    }
</style>
<div class="container-fluid">
    <h3>Sunday Club Races - August 26, 2018</h3>
    <div class="row">
        <div class="row">
            <div class="col-md-3 ">
                <img data-toggle="modal" data-target="#image-gallery" id="1"
                    class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file1-7.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    src="../../assets/BowMarSundayRaces_08262018/file1-7.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Another alt text" (click)="open(content, 0)" >
            </div>
        
            <div class="col-md-3 ">
                <img data-toggle="modal" data-target="#image-gallery" 
                    class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file2-4.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    src="../../assets/BowMarSundayRaces_08262018/file2-4.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Another alt text" (click)="open(content, 1)" >
            </div>

            <div class="col-md-3 ">
                <img data-toggle="modal" data-target="#image-gallery" 
                    class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file3-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    src="../../assets/BowMarSundayRaces_08262018/file3-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Another alt text" (click)="open(content, 2)" >
            </div>
            <div class="col-md-3 ">
                <img data-toggle="modal" data-target="#image-gallery" 
                    class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file4-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    src="../../assets/BowMarSundayRaces_08262018/file4-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="Another alt text" (click)="open(content, 3)" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file5-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file5-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 4)" >
        </div>
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file6-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file6-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 5)" >
        </div>
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file7-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file7-2.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 6)" >
        </div>
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file8-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file8-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 7)" >
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file9-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file9-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 8)" >
        </div>
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file10-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file10-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 9)" >
        </div>
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file11-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file11-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 10)" >
        </div>
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file12-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file12-1.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 12)" >
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <img data-toggle="modal" data-target="#image-gallery" 
                class="img-thumbnail" data-image="../../assets/BowMarSundayRaces_08262018/file-15.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                src="../../assets/BowMarSundayRaces_08262018/file-15.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                alt="Another alt text" (click)="open(content, 12)" >
        </div>
    </div>
    
<ng-template #content let-modal let-c="close">
    
    <div class="modal-body">
      <img src={{imageName}}>
    </div>
    <div class="modal-footer">
      <p>Press Esc to close</p>
    </div>
  </ng-template>