<div class="row">
    <div class="col-md-8">
      <h2>Bow Mar Yacht Club Junior Sailing Program </h2>
      <p><b>Who?</b> Junior Sailing is for Bow Mar and Bow Mar South residents, ages 8 to 18 years old</p>
      <p><b>When?</b> The Program begins in June and runs through the beginning of August.  There are no classes the week of July 4th which will be an Open Sailing week. </p>
      <p><b>Where?</b> Meet at the sailing deck on the south side of Bow Mar beach. </p>
      <p><b>Buddy Test</b> YOU MUST PASS THE “BUDDY TEST” before you can get on the water!!  It’s not hard. And you can take it as many times as you need to pass. Before your class starts, go to Bow Mar beach and tell the lifeguards that you are a Jr. Sailor and need to take your Buddy Test.  They’ll show you how to do it.  Then, bring your Buddy Test number to class.  Students will not be allowed on the water until they’ve presented their Buddy Test number to instructors.</p>
      <p><b>Rating Levels</b>We utilize the ratings standards from the Community Sailing of Colorado.  
        <i>Once a student gets their Solo Rating, they are allowed to check out club sailboats. <b>(See Club Check-out Boats)</b></i></p>
      <br>

      <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
      <div class="container">
          <div class="row ">
              <div class="col-sm-2"></div>
              <div class="col-sm-4"><b>Junior Sailing Ratings</b></div>
              <div class="col-sm-2"></div>
          </div>
          <div class="row">
              <div class="col-sm-4">Level 1 - Bronze</div>
              <div class="col-sm-6">Beginning sailing fundamentals</div>
          </div>
          <div class="row">
              <div class="col-sm-4">Level 2 - Silver</div>
              <div class="col-sm-6">Intermediate fundamentals</div>
          </div>
          <div class="row">
              <div class="col-sm-4">Level 3 - Gold</div>
              <div class="col-sm-6">Advanced fundamentals</div>
          </div>
          <div class="row">
              <div class="col-sm-4">Level 4 - Solo</div>
              <div class="col-sm-6">In-depth boat handling</div>
          </div>
          <div class="row">
              <div class="col-sm-4">Level 5 - Advanced Solo</div>
              <div class="col-sm-6">Performance boat handling</div>
          </div>
          <div class="row">
              <div class="col-sm-4">Level 6 - Helmsperson</div>
              <div class="col-sm-6">Beginning Racing</div>
          </div>
          <div class="row">
              <div class="col-sm-4">Level 7 - Adv Helmsperson</div>
              <div class="col-sm-6">Racing Tactics</div>
          </div>
      </div> 
      <br>         
      <p><b>Learn to Sail Camps</b> This is the centerpiece of the Jr Sailing learning environment. Each week is scheduled for a particular ability level, and the Camps will rotate throughout the summer so there will be multiple scheduling options to accommodate other activities and vacations.  The Camp is designed for focused and rapid student growth, so each sailor will be able to move to a second level for later in the summer.  Each sailor should plan on attending two weeks of Learn to Sail Camp, selecting the next higher ability level for the second week.  At the end of each Camp, students will be tested against the US Sailing standard for their level.</p>
      <p><b>Open Sailing</b> Augmenting the Learn to Sail Camp each week is drop-in sailing, Mondays-Thursdays each week from 4:00pm to 6:00pm.  These sessions allow sailors to practice skills they have learned in Camp and to gain experience on the water.  This is also a great time for students to make-up any time lost during Camp lessons, work on tests or recertification, and prepare for Regattas and other events  Each sailor should plan on attending a minimum of 5 sessions during the summer.</p>
      <p><b>Advanced Program</b> These sessions teach advanced sailing techniques, racing tactics, and mock regattas, as well as a season-long “race” among the sailors. Sailors must have at least an Adv. Solo rating for this program.  Some sailors might join the program during the summer, as their skills. Advanced sailors are encouraged to stay and sail with the Adult Yacht Club each Wednesday evening at 6:00pm.</p>

      
    </div>
   
    <div class="col-md-4">
        <img src="../../assets/PicwithDavidSchreiber.png" class="img-fluid" alt="Sunfish">
    </div>

    <div class="col-md-4">
        <img src="../../assets/JuniorSailors.png" class="img-fluid" alt="Junior Sailors">
    </div>
  </div>
