<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>Club Info</h2>
    <p>The Bow Mar Yacht Club in Bow Mar, Colorado is open to members in good standing of the Bow Mar Owners Inc. BMYC supports active Snipe and Laser fleets that hold club races every weekend during the summer.</p>
    <p><a class="btn btn-primary" routerLink="/clubinfo" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Juniors</h2>
    <p>The Bow Mar Yacht Club Juior Sailing program is a fantastic way to learn to sail and improve sailing skills.  Junior sailing is for Bow May and Bow Mar South residents, ages 8 to 18 years old.</p>
    <p><a class="btn btn-primary" routerLink="/juniorsailing" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-md-4">
    <h2>Events</h2>
    <p>The Bow Mar Yacht Club sponsors a wide range of sailing and social activities including the legendary Commodore's Party and Norm Tanner Snipe Regatta.</p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>See what we do!</p>
        <p><a class="btn btn-primary" routerLink="/clubinfo" role="button">View galleries &raquo;</a></p>
      </div>
</div>
