<div class="row">
  <div class="col-md-8">
    <h2>Welcome to the Bow Mar Yacht Club </h2>
    <p>Membership in the Bow Mar Yacht Club (BMYC) includes access to clubs boats such as Snipes, Lasers and Sunfish.  Adult sailing lessons are also available.</p>
    <p>You may use your BMYC membership card to gain admittance into any yacht club that is part of the <i><b>Yachting Club of America</b></i>.  Go to <a href="https://www.ycaol.com/reciproc.htm">Yachting Club of America</a></p>
    <!--<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
  </div>
 
  <div class="col-md-4">
    <h2>History</h2>
    <p>The Bow Mar Yacht Club was started in 1968</p>
    <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->
  </div>
</div>
